<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assignments.css">
    <title>トップページ</title>
</head>
<body>

        <a href="/assignments" class="createbotan">課題管理システムへ</a>
        <a href="/souvenirs" class="createbotan">お土産一覧システムへ</a>
        <a href="/students" class="createbotan">生徒管理システムへ</a>